@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
        <img src="/logo.png" alt="Brick tracker logo" style="padding:3px;" />
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
